[Unit]
Description=Fix Phased Audio for AYANEO AIR/Pro
After=pipewire-pulse.service

[Service]
Type=oneshot
ExecStart=/usr/share/device-quirks/scripts/ayaneo/air/audio-phase-fix start
ExecStop=/usr/share/device-quirks/scripts/ayaneo/air/audio-phase-fix stop
RemainAfterExit=yes

[Install]
WantedBy=default.target
