[Unit]
Description=Enable wake on USB for %I

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/controller-wake.sh %I

[Install]
WantedBy=multi-user.target
