[Unit]
Description=RyzenAdj Control Service
After=sockets.target

[Service]
ExecStart=/sbin/python3 /usr/share/device-quirks/scripts/ryzen-control.py

[Install]
WantedBy=default.target
